#s1
{
margin-left:4px;
border:2px solid ;
border-radius:2px;
}
#s2
{
margin-left:14px;
border:2px solid ;
border-radius:2px;
}
#s3
{border:2px solid ;
border-radius:2px;
margin-left:31px;
}
#s4
{border:2px solid ;
border-radius:2px;
margin-left:48px;
}
#p
{
margin-top:2px;
width:40%;
height:20px;
float:right;
font-weight:bold;
margin-right:41%;
color:red;
}
#p1
{
margin-top:2px;
width:40%;
height:20px;
float:right;
font-weight:bold;
margin-right:41%;
color:red;
}
#p2
{
margin-top:2px;
width:40%;
height:20px;
float:right;
font-weight:bold;
margin-right:41%;
color:red;
}
#p3
{
margin-top:2px;
width:40%;
height:20px;
font-weight:bold;
float:right;
margin-right:41%;
color:red;
}

